@*
* This template is called from the `index` template. This template
* handles the rendering of the page header and body tags. It takes
* two arguments, a `String` for the title of the page and an `Html`
* object to insert into the body of the page.
*@
@(title: String)

<!DOCTYPE html>
<html lang="en">
<head>
    @* Here's where we render the page title `String`. *@
    <title>@title</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="webApp/styles/main.css">
    <!-- endbuild -->
    <!--<link rel="stylesheet" href="styles/main.css">-->
</head>
<body  ng-app="battleShipApp">

        <div class="container" >
            <div ng-view=""></div>
        </div>

<!--Welcome to the Battlefield game. Please choose:-->
<!--<br>-->
<!--<div>-->
<!--<button onclick="window.location.href = 'NewGame.html'">New Game</button>-->
<!--<button onclick="window.location.href = 'JoinGame.html'">Join a Game</button>-->
<!--<button onclick="window.location.href = 'ResumeGame.html'">Resume a Game</button>-->
<!---->
<!--</div>-->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-route.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-cookies.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-messages.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-resource.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-touch.js"></script>


<!--<script src="bower_components/jquery/dist/jquery.js"></script>-->
<!--<script src="bower_components/angular/angular.js"></script>-->
<!--<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>-->
<!--<script src="bower_components/angular-animate/angular-animate.js"></script>-->
<!--<script src="bower_components/angular-aria/angular-aria.js"></script>-->
<!--<script src="bower_components/angular-cookies/angular-cookies.js"></script>-->
<!--<script src="bower_components/angular-messages/angular-messages.js"></script>-->
<!--<script src="bower_components/angular-resource/angular-resource.js"></script>-->
<!--<script src="bower_components/angular-route/angular-route.js"></script>-->
<!--<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>-->
<!--<script src="bower_components/angular-touch/angular-touch.js"></script>-->
<!-- endbower -->
<!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="webApp/scripts/app.js"></script>

    <script src="webApp/scripts/controllers/NewgameCtrl.js"></script>
    <script src="webApp/scripts/controllers/MainMenuCtrl.js"></script>
    <script src="webApp/scripts/controllers/joinGameCtrl.js"></script>
    <script src="webApp/scripts/controllers/playGameCtrl.js"></script>

        <script src="webApp/scripts/services/gameService.js"></script>
<!-- endbuild -->

</body>
</html>
